body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8fa5a7; /* Azul clarinho */
    color: rgb(33, 241, 248);
}

.welcome-section {
    margin-top: 20px;
}

.login-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.livro-button {
    width: 100px;
    height: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}